var APP_KEY = '';
var APP_SECRET = '';
var CONSUMER_KEY = '';
var ENDPOINT = '';
var SERVICE_NAME= '';

module.exports = {
  APP_KEY: APP_KEY,
  APP_SECRET: APP_SECRET,
  CONSUMER_KEY: CONSUMER_KEY,
  ENDPOINT: ENDPOINT,
  SERVICE_NAME: SERVICE_NAME
};
